{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <title>{{ recipe_object.title }}-Scrumptious Recepies</title>
  </head>
  <body>

    <header>
      <nav>
        <a href="{% url "recipe_list" %}">Home</a>
        <a href="{% url 'edit_recipe' recipe_object.id %}">Edit a recipe</a>
      </nav>
    </header>

    <main>


      <section>
        <h1 class="margin-bottom">Vegetarian Tacos</h1>
        <figure class="img-with-text">
          <img src="{{ recipe_object.picture }}" alt = ("fdkg")>
          <figcaption class="margin-bottom">4.3 stars</figcaption>
        </figure>
      </section>


      <section>
        <h2 class="margin-bottom align">Ingrediants</h2>
       <table>
        <thead>
          <tr>
            <th>Amount</th>
            <th>Food item</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 cup</td>
            <td>Green beans</td>
          </tr>
          <tr>
            <td>3 ears</td>
            <td>Fresh corn</td>
          </tr>
          <tr>
            <td>2 cup</td>
            <td>Tomatillo salsa</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Corn tortillas</td>
          </tr>
          <tr>
            <td>0.5 cups</td>
            <td>Cotija cheesez</td>
          </tr>
        </tbody>
       </table>
      </section>


      <section <div>
        <h1 class="margin-top" >Steps</h1>
        <div>
          <ol class="align type = 1">
            {% for step in recipe_object.steps.all%}
            <li>{{step.instruction}}</li>
            {%endfor%}
          </ol>
        </div>
      </section>
    </main>
    <footer>
      <h5 id="made-with-hate2" >Made with HATE by Scrumptious Recepies</h5>
    </footer>
  </body>

</html>
