{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{recipe.object.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url "recipe_list" %}">Home</a>
              </nav>
        </header>
        <main>
            <h1> Edit {{ recipe_object.id }}</h1>
            <form method='post'>
               {% csrf_token %}
               {{ form.as_p }}
               <button>save</button>

        </main>
    </body>
</html>
