{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <title>Scrumptious Recepies</title>
  </head>

  <body>

    <nav>
       <a href="{% url 'recipe_list' %}">Home</a>
       <a href="{% url 'create_recipe' %}">Create a recipe</a>



       {% if user.is_authenticated %}
      Hello, {{ user.username }}
      <a href="{% url 'user_logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'signup' %}">Sign up</a>
      <a href="{% url 'login' %}">Login</a>
      {% endif %}

    </nav>

    <main>

      <section>
        <h1 class="margin-bottom" >Scrumptious Recepies</h1>
        <h3 class="margin-bottom">All the food thats fit to eat</h3>
      </section>

      <div class="Flexem">
        {% for recipe in recipe_list%}
          <section>
            <h3 class="margin-bottom" >
              <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <figure class="img-with-text">
                <img src="{{ recipe.picture }}" alt=("LMAO")>
              <figcaption>4.3 stars</figcaption>
            </figure>
            <p>{{ recipe.created_on}}</p>
          </section >
          {% endfor %}

        </div>
    </main>
    <footer>
      <h5 id="made-with-hate2" >Made with HATE by Scrumptious Recepies</h5>
    </footer>
  </body>

</html>
